html {
  font-size:62.5%; /* root font size, normally 16px */
}

.component-one {
  font-size: 2em;  /* twice the root font size */
}
.background h1 {
  font-size: 15vmin; /* what what? */
  opacity: .5;
}

.background {
  width: 100vw;
  height: 50vh;
  color: white;
}
body {
  font-size: 2rem;
  font-family: Helvetica, Arial, sans-serif;
  color: black;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.box {
  display: inline-block;
  width: 50%
  height 100vh;
  background: #017709;
  padding: 20px;
}

.special {
  background: #017709;
}
.background h1 {
  font-size: 15vmin; /* what what? */
  opacity: .5;
}

.background {
  width: 100vw;
  height: 50vh;
  color: white;

  background-image: linear-gradient(rgba(0,0,0,.30), transparent),
    url(https://github.com/CollinErikstrup/colline2020/b-24 lb/Untitled-1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.another {
  background-image: url(https://github.com/CollinErikstrup/colline2020/i/download.gif);
}
.#{$fa-css-prefix}-facebook:before { content: fa-content($fa-var-facebook);}
.#{$fa-css-prefix}-database:before { content: fa-content($fa-var-database);}
.#{$fa-css-prefix}-camera:before { content: fa-content($fa-var-camera);}
